#########################################################
# Build / compile outputs
#########################################################

*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
*.d
*.a

build/
Build/
out/
Debug/
Release/

#########################################################
# Arduino / PlatformIO
#########################################################

*.ino.cpp
*.ino.cpp.d

.pio/
.pioenvs/
.piolibdeps/
libdeps/

#########################################################
# STM32 / ARM toolchain
#########################################################

*.axf
*.su
*.idb
*.htm
*.log

#########################################################
# VS Code
#########################################################

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

#########################################################
# OS junk
#########################################################

.DS_Store
Thumbs.db
desktop.ini

#########################################################
# Temporary files
#########################################################

*.tmp
*.temp
*.bak
*.swp
*~
~$*

#########################################################
# Python / tooling (if scripts used)
#########################################################

__pycache__/
*.pyc

#########################################################
# Node (if any UI tools)
#########################################################

node_modules/

#########################################################
# Logs
#########################################################

*.log

#########################################################
# Arduino CLI building tools
#########################################################
arduino-cli.yaml
#arduino-cli.yaml.example #this is in the repo

#########################################################
# Submodule note
#########################################################
# DO NOT ignore submodule folders themselves
# Git tracks them as special entries
#########################################################

#########################################################
# Blocking non markdown documentation upload for now
#########################################################
*.docx
*.pdf
