#Arduino AVR based boards
#FQBN=arduino:avr:uno
#FQBN=arduino:avr:mega
#FQBN=arduino:avr:nano:cpu=atmega328

#Bluepill STM32F103C
#FQBN=Arduino_STM32:STM32F1:genericSTM32F103C:upload_method=STLinkMethod

#Arduino Due w/ SAM3X8E ARM Cortex-M3
#FQBN=arduino:sam:arduino_due_x #Normal Port
FQBN=arduino:sam:arduino_due_x_dbg  #Debugging Port